@value makerHere, makerGreen, makerLightGrey, makerLightPink, makerWheat, makerWhite, makerBlack from '../../common/colors.css';

.matple {
	flex-basis: 100%;
	padding: 0.5em 2em;
	border-right: 1px solid makerLightGrey;
}

.title {
	width: 100%;
	text-align: left;
	margin-bottom: 1em;
	margin-left: 2em;
	color: makerHere;
}
