@value makerHere, makerGreen, makerWhite from "../../common/colors.css";

.input {
	background-color: #fafafa;
	padding: 10px;
	margin-bottom: 5px;
	border: 1px solid rgba(var(--ca6, 219, 219, 219), 1);
	border-radius: 3px;
	font-size: 12px;
	width: 330px;
}

.button {
	margin-top: 10px;
	padding: 10px;
	background-color: makerHere;
	border: none;
	border-radius: 3px;
	font-size: 15px;
	color: white;
	cursor: pointer;
}

::placeholder {
	color: makerHere;
}

.loginCenter {
	width: 370px;
}

.inputForm {
	width: 370px;
}

a {
	color: inherit;
	text-decoration: none;
}
